@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

// Update Bulma's global variables
$family-sans-serif:  'Muli', sans-serif;
$family-secondary: 'Quicksand', sans-serif;
$section-padding: 0.8823529411764706rem 0.8823529411764706rem;
$body-size: 1rem; // default text size
$title-size: 1.411764705882353rem; // size of headers
$subtitle-size: 0.8235294117647058rem; //label size
$background: #DAE3ED;
$primary: #112C44; // primary font color
$purple: #221C53; // primary button color
$info: #A0B5C9; // secondary button color
$danger: #EF4C4D; // tertiary button color
$dark: #221C53;
$button-background-color:  #EF4C4D; //default button background
$button-color:white;
$border:#FFFFFF; //doubt 
$weight-semibold: 400;


@import '../../node_modules/bulma/bulma.sass';